<p id="notice"><%= notice %></p>

<p>
  <b>Vin:</b>
  <%= @vehicle.vin %>
</p>

<p>
  <b>Make:</b>
  <%= @vehicle.make %>
</p>

<p>
  <b>Model:</b>
  <%= @vehicle.model %>
</p>

<p>
  <b>Year:</b>
  <%= @vehicle.year %>
</p>

<p>
  <b>Plate:</b>
  <%= @vehicle.plate %>
</p>

<p>
  <b>Color:</b>
  <%= @vehicle.color %>
</p>

<p>
  <b>Notes:</b>
  <%= @vehicle.notes %>
</p>

<p>
  <b>Cardinal owner:</b>
  <%= @vehicle.cardinal_owner %>
</p>


<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
